@model UserListingViewModel
@{
    ViewData["Title"] = "All users";
}
<h2>@ViewData["Title"]</h2>

@*това може да се направи на глобално ниво не само за този контролер*@
@if (TempData["SuccessMessage"] != null)
{
    <h2 class="text-success">@TempData["SuccessMessage"]</h2>
}

<div>
    <a href="/users/register" class="btn btn-primary">Register</a>
</div>
<br />
<div class="table-responsive">
    <table class="table table-sm">
        <tr>
            <th scope="col">UserName</th>
            <th scope="col">E-mail</th>
            <th scope="col">Компания</th>
            <th scope="col">Град</th>
            <th scope="col">Адрес</th>
            <th scope="col"></thscope="col">
        </tr>
        @foreach (var user in Model.Users)
        {
            <tr>
                <th scope="row">@user.Username</th>
                <th scope="row">@user.Email</th>
                <th scope="row">@user.CompanyName</th>
                <th scope="row">@user.BranchTown</th>
                <th scope="row">@user.BranchAddress</th>
                <th scope="row">
                    <a href="/users/changepassword/@user.Id" class="btn btn-secondary">Change Password</a>
                    <a href="/users/userroles/@user.Id" class="btn btn-info">Roles</a>
                    <a href="/users/delete/@user.Id" class="btn btn-danger">Remove</a>
                </th>
            </tr>
        }
    </table>
</div>
