<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - CarTrade.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.10.0.min.js" type="text/javascript"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/jquery-ui.min.js" type="text/javascript"></script>
    <link href="https://ajax.aspnetcdn.com/ajax/jquery.ui/1.9.2/themes/blitzer/jquery-ui.css" rel="Stylesheet" type="text/css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CarTrade.Web</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>              
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        @if (User.IsInRole(DataConstants.ManagerRole))
                        {
                            <div class="dropdown">
                                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Administration
                                </button>
                                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Branches" asp-action="Index">All branches</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Companies" asp-action="Index">All company</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Brands" asp-action="Index">All brands</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="InsuranceCompanies" asp-action="Index">Insurance company</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Vehicles" asp-action="Index">Vehicles</a>
                                    <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Vignettes" asp-action="Index">Vignettes</a>
                                    @if (User.IsInRole(DataConstants.AdministratorRole))
                                    {
                                        <a class="nav-link text-dark dropdown-item" asp-area="" asp-controller="Users" asp-action="Index">All users</a>
                                    }
                                </div>
                            </div>

                        }

                    </ul>
                </div>

            </div>
        </nav>
    </header>
    <div class="container">
        @if (TempData.ContainsKey(WebConstants.TempDataSuccessMessageKey))
        {
            <div class="alert alert-success">
                @TempData[WebConstants.TempDataSuccessMessageKey]
            </div>
        }
        @if (TempData.ContainsKey(WebConstants.TempDataErrorMessageKey))
        {
            <div class="alert alert-danger">
                @TempData[WebConstants.TempDataErrorMessageKey]
            </div>
        }
        @if (TempData.ContainsKey(WebConstants.AccessDenied))
        {
            <div class="alert alert-danger">
                @TempData[WebConstants.AccessDenied]
            </div>
        }
        <main role="main" class="pb-3">
            @*@if (ViewData["NavMenuPage"] != null)
                {
                    // ASP.NET Core will search for a component named NavMenu,
                    // and invoke it with the provided data (here, the NavMenuPage set in the controller)
                    @await Component.InvokeAsync("NavMenu", ViewData["NavMenuPage"])
                }*@
            @RenderBody()
        </main>
    </div>
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2021 - CarTrade.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    @*<script src="~/lib/jquery/dist/jquery.min.js"></script>*@
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    @*<script src="~/js/site.js" asp-append-version="true"></script>*@
    
    @RenderSection("Scripts", required: false)
</body>
</html>
