@model IEnumerable<VehicleListingServiceModel>
@{
    ViewData["Title"] = "All vehicle";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a href="/vehicles/add" class="btn btn-primary">Add car</a>
</div>
<br />

<form class="form-inline ml-auto" asp-controller="Vehicles" asp-action="Search" method="get">
    <div class="md-form my-0">
        <input name="searchString" class="form-control" type="text" id="searchVehicle" placeholder="Vin or Plate number" aria-label="Search">       
    </div>
    @*<button class="btn btn-outline-white btn-md my-0 ml-sm-2" type="submit">Search</button>*@
</form>

<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>Model</th>
        <th>Vin</th>
        <th>Plate number</th>
        <th>Description</th>
        <th>Year of manufacture</th>
        <th>Travelled distance</th>
        <th>Oil change</th>
        <th>Inspection Safety Check</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var vehicle in Model)
    {
        <tr>
            <th>@vehicle.Model</th>
            <th>@vehicle.Vin</th>
            <th>@vehicle.PlateNumber</th>
            <th>@vehicle.Description</th>
            <th>@vehicle.YearОfМanufacture</th>
            <th>@vehicle.TravelledDistance</th>
            <th>@vehicle.EndOilChange</th>
            <th>@vehicle.InspectionSafetyCheck</th>
            <th>@vehicle.Status</th>
            <th>
                <a href="/vehicles/edit/@vehicle.Id" class="btn btn-info btn-sm">Edit</a>
                <a href="/vehicles/delete/@vehicle.Id" class="btn btn-danger btn-sm">Remove</a>
                <a href="/insurancespolices/details/@vehicle.Id" class="btn btn-info btn-sm">insurance</a>
                <a href="/vignettes/ListVehicleVignetes/@vehicle.Id" class="btn btn-info btn-sm">vignette</a>
            </th>
        </tr>
    }
</table>

@section Scripts {
    <script src="~/js/autocomplete.js"></script>
    <script>
        auto();
    </script>    
}

@*@section Scripts{
    <script type="text/javascript">
        $(function () {
            $("#searchVehicle").autocomplete({
                source: function (request, response) {
                    delay: 10000;                    
                    var myData = { "prefix": request.term };
                    var token = $("input[name='__RequestVerificationToken']").val();                                  
                    $.ajax({
                        url: '/Vehicles/AutoComplete/',
                        headers: {
                            "RequestVerificationToken": token
                        },
                        data: JSON.stringify(myData),
                        dataType: "json",
                        type: "POST",
                        contentType: "application/json; charset=utf-8",
                        success: function (data) {
                            response($.map(data, function (item) {
                                return item;
                            }))
                        },                        
                        failure: function (response) {
                            alert(response.responseText);
                        }
                    });
                },
                select: function (e, i) {
                },
                minLength: 0
            }).focus(function () {
                $(this).autocomplete("search");
            });
        });
    </script>
}*@

