@model IEnumerable<VehicleListingServiceModel>
@{
    ViewData["Title"] = "All vehicle";
}

<h2>@ViewData["Title"]</h2>

<div>
    <a href="/vehicles/add" class="btn btn-primary">Add car</a>
</div>
<br />

<table class="table table-bordered table-hover">
    <tr>
        <th>Model</th>
        <th>Vin</th>
        <th>Plate number</th>
        <th>Description</th>        
        <th>Year of manufacture</th>
        <th>Travelled distance</th>
        <th>Oil change</th>
        <th>Inspection Safety Check</th>
        <th>Status</th>
        <th></th>
    </tr>
    @foreach (var vehicle in Model)
    {
        <tr>
            <th>@vehicle.Model</th>           
            <th>@vehicle.Vin</th>           
            <th>@vehicle.PlateNumber</th>           
            <th>@vehicle.Description</th>           
            <th>@vehicle.YearОfМanufacture</th>           
            <th>@vehicle.TravelledDistance</th>           
            <th>@vehicle.EndOilChange</th>           
            <th>@vehicle.InspectionSafetyCheck</th>           
            <th>@vehicle.Status</th>           
            <th>
                <a href="/vehicles/edit/@vehicle.Id" class="btn btn-info btn-sm">Edit</a>
                <a href="/vehicles/delete/@vehicle.Id" class="btn btn-danger btn-sm">Remove</a>
                <a href="/insurancespolices/details/@vehicle.Id" class="btn btn-info btn-sm">insurance</a>
                <a href="/vignettes/ListVehicleVignetes/@vehicle.Id" class="btn btn-info btn-sm">vignette</a>
            </th>
        </tr>
    }
</table>
